name: Continuous Integration

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup the project and install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Check coding style matches pep8
      run:  flake8 email_keyword_matcher/ test/
    - name: Check docstrings match pep257
      run:  pep257 email_keyword_matcher/ -s
    - name: Run tests
      run: |
        pytest --cov=email_keyword_matcher/ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        name: Python ${{ matrix.python-version }}
        directory: ./coverage/reports/
        flags: unittests
        fail_ci_if_error: true

